<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <!--===== FAVICON =====-->
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">

  <script src="https://cdn.tailwindcss.com"></script>
  
  <!--===== STYLESHEET =====-->
  <link rel="stylesheet" href="/stylesheets/style.css">
  
  <!--===== ICON_URL =====-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css' rel='stylesheet'>
  <link href="https://cdn.jsdelivr.net/npm/boxicons/css/boxicons.min.css" rel="stylesheet">

  <title>STEC | Result</title>
</head>

<body class="w-full h-full bg-[#F5FAFF] tracking-tighter">

  <main class="flex flex-col min-h-screen">
    <section class="flex-grow">
      <div class="z-[9999] font-cy fixed top-0 left-1/2 transform -translate-x-1/2 w-[350px] bg-green-100 text-green-700 rounded-bl-lg rounded-br-lg shadow-md">
        <% if (messages.success) { %>
        <p class="p-4 text-center"><%= messages.success %></p>
        <% } %>
      </div>
      
      <div class="z-[9999] font-cy fixed top-0 left-1/2 transform -translate-x-1/2 w-[350px] bg-red-100 text-red-700 rounded-bl-lg rounded-br-lg shadow-md">
        <% if (messages.error) { %>
        <p class="p-4 text-center"><%= messages.error %></p>
        <% } %>
      </div>
      
        <!-- Back Button -->
        <div class="absolute top-24 left-4 md:ml-20 z-[999]">
          <a href="/student/class" class="inline-flex items-center text-blue-600 bg-blue-100 px-4 py-1 pr-6 hover:bg-blue-200 rounded-lg">
            <i class="bx bx-left-arrow-alt text-xl mr-2 mt-1"></i> Back
          </a>
        </div>
        
      <!--===== STUDENTS_RESULT_FOEM =====-->
      
      <section class="font-cy w-full min-h-screen flex flex-col items-center justify-center p-8">
        <div class="w-full flex flex-col items-center justify-center mt-28">
          <h2 class="text-center text-3xl font-bold mb-8 text-gray-700 flex items-center gap-2 justify-center">
            <i class='bx bxs-face'></i> Result Form
          </h2>
          
          <div class="space-y-4 w-full md:w-1/2">
            <form action="/student/class/seven/result" method="POST">
              <div class="relative flex">
                <input type="name" name="name" class="w-full py-2 pl-4 pr-10 border-b-2 border-zinc-500 rounded-md focus:outline-none bg-transparent input-field" placeholder="Name" required>
                <i class="fas fa-envelope input-icon"></i>
              </div>
            
              <div class="relative">
                <input type="number" name="roll" class="w-full py-2 pl-4 pr-10 mt-4 border-b-2 border-zinc-500 rounded-md focus:outline-none bg-transparent input-field" placeholder="roll" required>
                <i class="bi bi-123 mt-2 input-icon"></i>
              </div>
              
              <button type="submit" class="w-full py-2 mt-12 bg-blue-600 text-white rounded-md hover:bg-blue-700 transition">
                Submit
              </button>
            </form>
          </div>
        </div>
      </section>
    </section>
     
    <!--====== FOOTER =====-->
    
    <footer class="relative font-cy w-full bg-blue-700 text-white py-8">
      <div class="max-w-7xl mx-auto">
        <div class="flex justify-center space-x-6 mb-6 px-4 sm:px-6 lg:px-8">
          <a href="https://www.facebook.com/mdpobarul.islam.92" target="_blank" class="hover:text-blue-600"><i class="fab fa-facebook"></i></a>
          <a href="#" class="hover:text-gray-300"><i class="fab fa-instagram"></i></a>
          <a href="#" class="hover:text-gray-300"><i class="fab fa-twitter"></i></a>
          <a href="#" class="hover:text-gray-300"><i class="fab fa-youtube"></i></a>
        </div>

        
        <div class="text-center text-sm mb-6 px-4 sm:px-6 lg:px-8">
          <p>STEC - Excellence in Coaching</p>
          <p>name: <a href="mailto:swapnotoryeducare@gmail.com" class="hover:text-gray-300">swapnotoryeducare@gmail.com</a> | Phone: <a href="tel:+8801896434842" class="hover:text-gray-300">+8801896434842</a></p>
          <p class="w-full relative top-12">© 2025 STEC. All rights reserved.</p>
        </div>
      </div>
    </footer>
  </main>
</body>

</html>