<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <!--===== FAVICON =====-->
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">

  <script src="https://cdn.tailwindcss.com"></script>
  
  <!--===== STYLESHEET =====-->
  <link rel="stylesheet" href="/stylesheets/style.css">
  
  <!--===== ICON_URL =====-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css' rel='stylesheet'>
  <link href="https://cdn.jsdelivr.net/npm/boxicons/css/boxicons.min.css" rel="stylesheet">

  <title>STEC | Result</title>
</head>

<body class="w-full h-full bg-[#F5FAFF] tracking-tighter">

  <main class="flex flex-col min-h-screen">
    <section class="flex-grow">
      
      <!--====== NAVIGATION_BAR =====-->
      
      <nav class="tracking-tighter font-cy">
        
        <!--====== LS_HEADER =====-->
        
        <header class="header_lg w-full p-8 px-[100px] lg:hidden overflow-x-hidden h-[220px] absolute top-0 left-0 flex justify-between items-start z-50">
          <div class="logo1">
            <a href="/" class="text-3xl text-black font-Baumans font-bold flex cursor-pointer">
              <img src="/images/logo.png" class="w-[65px]" />
            </a>
          </div>

          <ul class="flex items-center mt-6 list-none text-xs font-cy">
            <li><a href="/" class="py-1 px-4 rounded-full transition-all duration-500 hover:bg-transparent hover:bg-black hover:text-[#e9f1ef]">Home</a></li>
            <li><a href="/about" class="py-1 px-4 rounded-full transition-all duration-500 hover:bg-black hover:text-[#e9f1ef]">About</a></li>
            <li><a href="/exams" class="text-black py-1 px-4 rounded-full transition-all duration-500 hover:bg-transparent bg-black hover:text-zinc-900 text-white">Exams</a></li>
            <li><a href="/payment/class" class="text-black py-1 px-4 rounded-full transition-all duration-500 hover:bg-black hover:text-[#e9f1ef]">Payment</a></li>
            <li><a href="/blog" class="text-black py-1 px-4 rounded-full transition-all duration-500 hover:bg-black hover:text-[#e9f1ef]">Blog</a></li>
            <li><a href="/contact" class="text-black py-1 px-4 rounded-full transition-all duration-500 hover:bg-black hover:text-[#e9f1ef]">Contact</a></li>
          </ul>
          
            <div class="relative">
              <button class="flex items-center justify-center w-12 h-12 rounded-full focus:outline-none" id="profileButton">
                <i class="bx bx-user-circle text-4xl text-black absolute flex items-center justify-center">
                  <!-- <img src="" class="w-full h-full object-cover absolute flex items-center justify-cente rounded-full">-->
                </i>
              </button>
              
              <div id="dropdownMenu" class="hidden flex flex-col absolute right-0 mt-2 w-48 bg-[#F5FAFF] text-black border border-gray-200 rounded-lg shadow-lg">
                <ul class="py-1 dropdown-menu">
                  <% if (isLoggedIn) { %>
                    <li><a href="/user/logout" class="flex items-center px-4 py-2 text-sm hover:bg-zinc-900 hover:text-white">
                      <i class="bx bx-log-out mr-2"></i> Logout
                    </a></li>
                    <% } else { %>
                    <li><a href="/user/login" class="flex items-center px-4 py-2 text-sm hover:bg-zinc-900 hover:text-white">
                      <i class="bx bx-log-in mr-2"></i> Login
                    </a></li>
                  <% } %>
                </ul>
              </div>
            </div>
        </header>

        <!--====== SM_HEADER =====-->
        
        <header class="small_header w-full bg-red-500 relative sm:hidden overflow-hidden">
          <div class="header_head fixed bg-[#F5FAFF69] backdrop-blur-sm top-0 left-0 w-full h-20 flex justify-between items-center px-5 shadow-lg z-[109]">

            <div class="sm_logo font-bold text-2xl z-[999] overflow-hidden">
              <a href="/" class="ml-6 text-black font-Baumans font-bold flex cursor-pointer">
                <img src="/images/logo.png" class="w-[65px]" />
              </a>
            </div>

            <div class="relative">
              <button id="menuToggle" class="w-10 h-10 flex items-center justify-center overflow-hidden text-4xl text-gray-700 rounded-full absolute left-[35px] top-[-20px]">
                <i class="bx bx-user-circle user_i absolute flex items-center justify-center">
                  <!--  <img src="" class="w-full h-full object-cover absolute flex items-center justify-cente rounded-full">-->
                </i>
              </button>

              <div id="menuDropdown" class="hidden absolute right-[-100px] mt-10 w-48 bg-[#F5FAFF] text-gray-800 font-cy border border-zinc-100 rounded-lg shadow-lg">
                <ul class="py-1">
                  <% if (isLoggedIn) { %>
                    <li><a href="/user/logout" class="flex items-center px-4 py-2 text-sm hover:bg-zinc-900 hover:text-white">
                      <i class="bx bx-log-out mr-2"></i> Logout
                    </a></li>
                  <% } else { %>
                    <li><a href="/user/login" class="flex items-center px-4 py-2 text-sm hover:bg-zinc-900 hover:text-white">
                      <i class="bx bx-log-in mr-2"></i> Login
                    </a></li>
                  <% } %>
                </ul>
              </div>
            </div>

            <div class="overflow-hidden px-2 relative right-2">
              <div class="menu flex justify-center items-center w-20 h-6 border border-gray-600 rounded-full cursor-pointer relative">
                <span class="icons absolute flex justify-center items-center">
                  <img src="/images/svg/border-menu.svg" alt="" class="menu_icon min-w-[80px] h-20 flex justify-center items-center opacity-80 absolute">
                  <i class="bx bx-x cross_icon text-2xl i absolute top-[-440px]"></i>
                </span>
              </div>
            </div>
          </div>

          <div class="menu_list fixed right-[-425px] top-7 w-[424px] h-screen bg-[#F5FAFF] shadow-lg z-[99]">
            <ul class="list-none relative top-1/2 transform -translate-y-1/2 space-y-5">
              <li><a href="/" class="home flex justify-center text-[30px] font-Aclonica border-b border-gray-400 py-5 transition-all hover:bg-black hover:text-[#e9f1ef]">
                  <span class="link_home">H</span>
                  <span class="link_home">O</span>
                  <span class="link_home">M</span>
                  <span class="link_home">E</span>
                </a></li>
              <li><a href="/about" class="about flex justify-center text-[30px] font-Aclonica text-black border-b border-gray-400 py-5 transition-all hover:bg-black hover:text-[#e9f1ef]">
                  <span class="link_about">A</span>
                  <span class="link_about">B</span>
                  <span class="link_about">O</span>
                  <span class="link_about">U</span>
                  <span class="link_about">T</span>
                </a></li>
                <li><a href="/exams" class="exams flex justify-center text-[30px] font-Aclonica text-black border-b border-gray-400 py-5 transition-all hover:bg-transparent bg-black hover:text-zinc-900 text-white">
                  <span class="link_exams">E</span>
                  <span class="link_exams">X</span>
                  <span class="link_exams">A</span>
                  <span class="link_exams">M</span>
                  <span class="link_exams">S</span>
                </a></li>
                <li><a href="/payment/class" class="payment flex justify-center text-[30px] font-Aclonica text-black border-b border-gray-400 py-5 transition-all hover:bg-black hover:text-white">
                  <span class="link_payment">P</span>
                  <span class="link_payment">A</span>
                  <span class="link_payment">Y</span>
                  <span class="link_payment">M</span>
                  <span class="link_payment">E</span>
                  <span class="link_payment">C</span>
                  <span class="link_payment">T</span>
                </a></li>
              <li><a href="/blog" class="notice flex justify-center text-[30px] font-Aclonica text-black border-b border-gray-400 py-5 transition-all hover:bg-black hover:text-white">
                  <span class="link_notice">B</span>
                  <span class="link_notice">L</span>
                  <span class="link_notice">O</span>
                  <span class="link_notice">I</span>
                  <span class="link_notice">G</span>
                </a></li>
              <li><a href="/contact" class="contact flex justify-center text-[30px] font-Aclonica text-black border-b border-gray-400 py-5 transition-all hover:bg-black hover:text-white">
                  <span class="link_contact">C</span>
                  <span class="link_contact">O</span>
                  <span class="link_contact">N</span>
                  <span class="link_contact">T</span>
                  <span class="link_contact">A</span>
                  <span class="link_contact">C</span>
                  <span class="link_contact">T</span>
                </a></li>
            </ul>
          </div>
        </header>
      </nav>
      
      <!--===== STUDENTS_RESULT_FOEM =====-->
      
      <section class="font-cy w-full min-h-screen flex flex-col items-center justify-center p-8">
        <div class="w-full flex flex-col items-center justify-center mt-28">
          <h2 class="text-center text-3xl font-bold mb-8 text-gray-700 flex items-center gap-2 justify-center">
            <i class='bx bxs-face'></i> Result Form
          </h2>
          
          <div class="space-y-4 w-full md:w-1/2">
            <form action="/student/class/seven/result" method="POST">
              <div class="relative flex">
                <input type="name" name="name" class="w-full py-2 pl-4 pr-10 border-b-2 border-zinc-500 rounded-md focus:outline-none bg-transparent input-field" placeholder="Name" required>
                <i class="fas fa-envelope input-icon"></i>
              </div>
            
              <div class="relative">
                <input type="number" name="roll" class="w-full py-2 pl-4 pr-10 mt-4 border-b-2 border-zinc-500 rounded-md focus:outline-none bg-transparent input-field" placeholder="roll" required>
                <i class="bi bi-123 mt-2 input-icon"></i>
              </div>
              
              <button type="submit" class="w-full py-2 mt-12 bg-blue-600 text-white rounded-md hover:bg-blue-700 transition">
                Submit
              </button>
            </form>
          </div>
        </div>
      
        <!-- Back Button -->
        <div class="mt-8">
          <a href="/student/class" class="inline-flex items-center text-blue-600 bg-blue-100 px-4 py-2 pr-6 hover:bg-blue-200 rounded-lg">
            <i class="bx bx-left-arrow-alt text-xl mr-2 mt-1"></i> Back
          </a>
        </div>
      </section>
    </section>
     
    <!--====== FOOTER =====-->
    
    <footer class="relative font-cy w-full bg-blue-700 text-white py-8">
      <div class="max-w-7xl mx-auto">
        <div class="flex justify-center space-x-6 mb-6 px-4 sm:px-6 lg:px-8">
          <a href="https://www.facebook.com/mdpobarul.islam.92" target="_blank" class="hover:text-blue-600"><i class="fab fa-facebook"></i></a>
          <a href="#" class="hover:text-gray-300"><i class="fab fa-instagram"></i></a>
          <a href="#" class="hover:text-gray-300"><i class="fab fa-twitter"></i></a>
          <a href="#" class="hover:text-gray-300"><i class="fab fa-youtube"></i></a>
        </div>

        
        <div class="text-center text-sm mb-6 px-4 sm:px-6 lg:px-8">
          <p>STEC - Excellence in Coaching</p>
          <p>name: <a href="mailto:swapnotoryeducare@gmail.com" class="hover:text-gray-300">swapnotoryeducare@gmail.com</a> | Phone: <a href="tel:+8801896434842" class="hover:text-gray-300">+8801896434842</a></p>
          <p class="w-full relative top-12">© 2025 STEC. All rights reserved.</p>
        </div>
      </div>
    </footer>
  </main>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="/javascripts/navberAnimation.js"></script>
</body>

</html>