@import url('https://fonts.googleapis.com/css2?family=Baumans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

@font-face {
  font-family: Cy;
  src: url(/fonts/Cy.ttf);
}

@font-face {
  font-family: hillsidescript;
  src: url(/fonts/hillsidescript-vnaoe.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

.font-Baumans {
  font-family: "Baumans", system-ui;
}

.font-Aclonica {
  font-family: "Aclonica", sans-serif;
}

.font-cy {
  font-family: Cy;
}

.font-hillsidescript {
  font-family: hillsidescript;
}

input:focus {
  border-bottom-color: #004BB8;
  box-shadow: none;
}

.input-field {
  padding-right: 40px;
}

.input-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}


@media (max-width: 425px) {
  nav .header_lg {
    display: none;
  }
}
